{
  "type": "YOUR DATABASE TYPE",
  "host": "localhost",
  "port": 0000,
  "username": "YOUR USER",
  "password": "YOUR PASS",
  "database": "YOUR DATABASE",
  "entities": ["./src/models/**/*.ts"],
  "migrations": ["./src/database/migrations/*.ts"],
  "cli": {
    "migrationsDir": "./src/database/migrations"
  }
}
